@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    <h1 class="text-danger">Заблокирован</h1>
    <p class="text-danger">Эта учетная запись была заблокирована, пожалуйста, повторите попытку позже.</p>
</header>
